<div class="flex-1 flex p-4">
  <div class="grow">
    <table style="min-width: 100%">
      <thead>
        <tr>
          <th class="p-2">Table</th>
          <th class="p-2">Rows (Est.)</th>
          <th class="p-2">Total</th>
          <th class="p-2">Data</th>
          <th class="p-2">Indexes</th>
          <th class="p-2">TOAST</th>
        </tr>
      </thead>
      <tbody>
        <% @card.data.each do |row| %>
          <tr>
            <td class="p-2"><%= row["table_name"] %></td>
            <td class="p-2" style="text-align: right"><%= number_to_human(row["row_estimate"]) %></td>
            <td class="p-2" style="text-align: right"><%= number_to_human_size(row["total_bytes"]) %></td>
            <td class="p-2" style="text-align: right"><%= number_to_human_size(row["table_bytes"]) %></td>
            <td class="p-2" style="text-align: right"><%= number_to_human_size(row["index_bytes"]) %></td>
            <td class="p-2" style="text-align: right"><%= number_to_human_size(row["toast_bytes"]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
